/*PAGE 1*/

/*Styling for Heading 1*/
h1{
    color: #E8BB7B;
    font-size: 100px;
    font-family: Papyrus, fantasy;
    text-align: center;
}

/*Styling for EcoEats Heading*/
span{
    font-size: 100px;
    font-family: Papyrus, fantasy;
    text-align: center;
}

.Eco {
    font-size: 100px;
    font-family: Papyrus, fantasy;
    text-align: center;
}

/*Styling for Paragraph Elements*/
p{
    color: #E8BB7B;
    font-family: Papyrus, fantasy; 
    text-align: center;
}


/*Styling for Nav Bar*/ 
ul {
    list-style-type: none;
    margin: 100;
    padding: 0;
    overflow: hidden;
    background-color: #89BF3A;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    font-family: Papyrus, fantasy;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #E8BB7B ;
}

.active {
    background-color: #E8BB7B ;
}


/*PAGE 2*/

/*Styling for Heading 2*/
h2{
    color: #E8BB7B;
    font-size: 50px;
    font-family: Papyrus, fantasy;
    text-align: center;
}

/*Styling for Products*/



/* Placement for "Comment Section" boxes */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
    
    /* Colour of Labels in Comment Section */
    label {
      color: ghostwhite;
    }
    
    /* Colour and font of Components in Comment Section */
    h4 {
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    /* Placement of Respond Box */
    #respond {
      margin-top: 40px;
      margin-left: 60px;
    }
    
    /* Input into Comment Section and Placements */
    #respond input[type='text'],
    #respond input[type='email'],
    #respond textarea {
      margin-bottom: 20px;
      display: block;
      width: 40%;
    
    /* Size of comment input boxes */
      border: 10px solid rgb(255, 255, 255);
      line-height: 1.4em;
    }


/*PAGE 3*/
